.container {
  box-sizing: border-box;
  background-color: #ffffff;
  color: #212121;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  will-change: transform;
  margin-bottom: 1rem;
}

.success {
  background-color: #c2ffaa;
}

.danger {
  background-color: #ffaaaa;
}

.selected {
  border: 4px solid #61dafb;
}
