/*
* 🌈 Colors
*/

$primary: #673AB7;
$primary-light: #9A67EA;
$primary-dark: #320B86;

$secondary: #FFEB3B;
$secondary-light: #FFFF72;
$secondary-dark: #C8B900;

$accent: #FF218C;

$white: #FAFAFA;
$black: #212121;