/*
* 🌈 Colors
*/

$primary: #673ab7;
$primary-light: #9a67ea;
$primary-dark: #320b86;

$secondary: #ffeb3b;
$secondary-light: #ffff72;
$secondary-dark: #c8b900;

$accent: #ff218c;

$white: #fafafa;
$black: #212121;
