@use '../../styles/globals';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	&__status-bar {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		&__score {
			text-align: center;
			font-size: 2rem;
			color: globals.$secondary;
		}
	}
	&__counter {
		margin-top: 1rem;
	}
	&__game-end {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		h3 {
			margin: 0;
			font-size: 4rem;
			text-align: center;
			line-height: 4rem;
		}
		span {
			margin-top: 2rem;
			font-size: 2rem;
			color: globals.$secondary;
		}
		&__actions {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 4rem;
			margin-bottom: 2rem;

			button {
				margin: 1rem;
				font-size: 1.5rem;
			}
		}
	}
}
