@use '../../styles/globals';

.container {
    background-color: globals.$secondary;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in;
    will-change: transform;

    &:hover {
         background-color: globals.$secondary-light;
    }
}