@use '../../styles/globals';

.title {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

.change-player {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    height: 3rem;
    max-width: 10rem;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid globals.$secondary;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: globals.$white;
    &:hover {
        background-color: globals.$secondary;
    }

}

.text-input {
    height: 4rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: globals.$white;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid globals.$white;

      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
}


.button {
    margin-top: auto;
    margin-bottom: 2rem;
}