@use '../../styles/globals';

.container {
    font-size: 1rem;
    background-color: globals.$white;
    color: globals.$black;
    overflow-y: auto;
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    
    &__subtitle {
        font-size: 2rem;
    }

    & ul {
        list-style-type: none;
    }

}