@use '../../styles/globals';

.container {
	font-size: 1rem;
	background-color: globals.$white;
	color: globals.$black;
	overflow-y: auto;
	border-radius: 2rem;
	padding: 2rem;
	margin-top: 2rem;
	font-weight: 700;

	&__title {
		font-size: 1rem;
	}

	&__scrollable {
		overflow-y: auto;
		max-height: 15vh;
	}

	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		color: globals.$primary-dark;
	}
}
